.pageWrapper {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.page {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
}

.pageCurrent {
    padding: 10px;
    cursor: pointer;
    border: 2px solid orange;
    font-weight: bold;
}