* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    font-family: Bahnschrift;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid black;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}
.post_button {
    display: flex;
}

.remove-btn {
    margin-right: 0.5rem;
}

.post-enter {
    transform: translateX(-350px);
}
.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}

.navbar {
    background-color: grey;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px;
}

.navbar_links {
    width: 10%;
    display: flex;
    justify-content: space-between;
}

.navbar_links_link {
    transition: 0.2s;
    color: black;
    text-decoration: none;

}

.navbar_links_link:hover {
    color:white;
}